.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-background);
}

.main {
  flex: 1;
  width: 100%;
  max-width: var(--layout-max-width);
  margin: 0 auto;
  padding: var(--space-stack-lg) var(--space-margin-mobile)
    calc(var(--bottomnav-height) + var(--space-stack-lg));
}

@media (min-width: 768px) {
  .main {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: var(--space-stack-lg);
  }
}